#register {
    margin: 29vh;
}

#register .login__title{
    color: #f74d4d;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Flex', sans-serif;
}

#register .login__change__color{
    color: #fff;
}

#register  .align-left{
    color: #fff; 
    font-family: 'Poppins', sans-serif;
}


#register .btn__register {
    padding: 0px;
    height: 40px;
    width: 120px;
    border: 1px solid #f74d4db2;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Flex', sans-serif;
    font-size: 12px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    background-color: rgba(2, 0, 0, 0.267) ;
} 


    
