

#login{
    margin: 29vh
}

#login .login__title{
    color: #f74d4d;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Flex', sans-serif;  
}


#login .login__change__color {
    color: rgb(255, 255, 255);
}

#login .align-left{
    color: #fff; 
    font-family: 'Poppins', sans-serif;
}

input,
input:active {
    background-color: rgba(2, 0, 0, 0.863);
    width: 300px;
    padding: 10px;
    outline: none;
    border: 1px solid  #f74d4d9f;
    border-radius: 3px;
    resize: none;
    line-height: normal;
    color: #fff

}

.apart{
    width: 250px;
    }
    .apart:active{
    width: 250px;
    }
    .apart:focus{
        width: 250px;
        }
    
    input:focus {
        background-color:  rgba(2, 0, 0, 0.863);
        width: 300px;
        padding: 10px;
        outline: none;
        border: 1px solid #ffffffbb;
        border-radius: 3px;
        resize: none;
        color: #fff
    }
    
    .register_color {
       color:  #f74d4d;
    
    }
    .btn_login {
        padding: 0px;
        height: 40px;
        width: 85px;
        border: 1px solid #f74d4db2;
        outline: none;
        cursor: pointer;
        border-radius: 5px;
        font-family: 'Roboto', sans-serif;
        font-family: 'Roboto Flex', sans-serif;
        font-size: 12px;
        font-weight: 700;
        color: rgb(255, 255, 255);
        background-color: rgba(2, 0, 0, 0.267) ;
    }
    
    
    
    .btn__register {
        padding: 0px;
        height: 40px;
        width: 120px;
        border: 1px solid #f74d4db2;
        outline: none;
        cursor: pointer;
        border-radius: 5px;
        font-family: 'Roboto', sans-serif;
        font-family: 'Roboto Flex', sans-serif;
        font-size: 12px;
        font-weight: 700;
        color: rgb(255, 255, 255);
        background-color: rgba(2, 0, 0, 0.267) ;
    }
    
    .secret_code {
        width: 225px;
      
    }
    .secret_code:focus{
        width: 255px;
    }
    .secret_code:active{
        width: 255px;
    }

